{% extends "layout.html" %}
{% block title %}Alumni{% endblock %}
{% block content %}
    <h1 class="title">Alumni</h1>

    <table class="table">
      <tr>
        <th>Name:</th>
        <td>{{ alumni.name }}</td>
      </tr>
      
      <tr>
        <th>Surname:</th>
        <td>{{ alumni.surname }}</td>
      </tr>
      
	  <tr>
        <th>Degree Awarded:</th>
        <td>{{ alumni.degree }}</td>
      </tr> 
           
	  <tr>
        <th>Total Years With Profesor:</th>
        <td>{{ alumni.years }}</td>
      </tr>
      
	  <tr>
        <th>Professor Name:</th>
        <td>{{ alumni.prof_name }}</td>
      </tr>
	  <tr>
        <th>Professor Surname:</th>
        <td>{{ alumni.prof_surname }}</td>
      </tr>
	  <tr>
        <th>Professor University:</th>
        <td>{{ alumni.prof_university }}</td>
      </tr>
	  <tr>
        <th>Professor Department:</th>
        <td>{{ alumni.prof_department }}</td>
      </tr>

    </table>
    
    {% if current_user.is_admin %}
	<div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
      </div>
    </div>
   {% endif %}
{% endblock %}
