{% extends "layout.html" %}
{% block title %}Edit paper{% endblock %}
{% block content %}
    <h1 class="title">Edit paper</h1>

    <form action="" method="post" name="paper_edit"> <!-- Here action is some url -->
	  {{ form.csrf_token }}                
                  
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          {{ form.title(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.title.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>
            
      <div class="field">
        <label for="title" class="label">Publication Year</label>
        <div class="control">
          {{ form.pubyear(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.pubyear.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="title" class="label">Publication Type</label>
        <div class="control">
          {{ form.pubtype(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.pubtype.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>
            
      <div class="field">
        <label for="year" class="label">Publication Site</label>
        <div class="control">
          {{ form.pubsite(class='input') }}
        </div>
        {% for error in form.pubsite.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

	  <div class="field">
        <label for="title" class="label">Professor Name</label>
        <div class="control">
          {{ form.prof_name(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.prof_name.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>
                  
	  <div class="field">
        <label for="title" class="label">Professor Surname</label>
        <div class="control">
          {{ form.prof_surname(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.prof_surname.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>
            
	  <div class="field">
        <label for="title" class="label">Professor University</label>
        <div class="control">
          {{ form.prof_university(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.prof_university.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>            
                  
	  <div class="field">
        <label for="title" class="label">Professor Department</label>
        <div class="control">
          {{ form.prof_department(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.prof_department.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>  

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}
