{% extends "layout.html" %}
{% block title %}Edit professor{% endblock %}
{% block content %}
    <h1 class="title">Edit professor</h1>

    <form action="" method="post" name="prof_edit"> <!-- Here action is some url -->
	  {{ form.csrf_token }}
      
      <div class="field">
        <label for="title" class="label">Name</label>
        <div class="control">
          {{ form.name(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.name.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>
            
      <div class="field">
        <label for="title" class="label">Surname</label>
        <div class="control">
          {{ form.surname(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.surname.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="title" class="label">University</label>
        <div class="control">
          {{ form.university(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.university.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>
            
      <div class="field">
        <label for="year" class="label">Department</label>
        <div class="control">
          {{ form.department(class='input') }}
        </div>
        {% for error in form.department.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}
